# 這是註解
[Oo]bj
[Bb]in
[Tt]emp
[Pp]ackages
.vs
*.user
*.suo
*.[Cc]ache
*.bak
*.log 
*.DS_Store
[Tt]est[Rr]esult*
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*/[Ll]ogs/*
*/[Tt]ools/*
.vscode

# 如果你想忽略壓縮檔或一些大檔案
*.7z
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.db
/Oops/appsettings.Development.json
